:root {
  box-sizing: border-box;
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-fg-default: black;
  --color-border-default: #d1d9e0;
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --fgColor-muted: #59636e;
  --fgColor-accent: #0969da;
}

#github-contrib {
  display: none;
  line-height: 12px;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#github-contrib table {
  padding: 10px;
  border-radius: 2px;
  outline: 1px solid var(--color-border-default);
  outline-offset: -1px;
}

#github-contrib th {
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 4px;
  padding-top: 10px;
}

#github-contrib tr {
  line-height: 10px;
}

#github-contrib td {
  width: 10px;
}

#github-contrib .bad {
  background-color: darkred !important;
}

#github-contrib .good {
  background-color: var(--color-calendar-graph-day-L1-bg) !important;
}

#github-contrib td.label {
  padding-right: 4px;
  font-size: 12px;
  font-weight: var(--base-text-weight-normal, 400);
  color: var(--fgColor-default, var(--color-fg-default));
  text-align: left;
  fill: var(--fgColor-default, var(--color-fg-default));
}

#github-contrib .grid {
  fill: var(--color-calendar-graph-day-bg);
  shape-rendering: geometricPrecision;
  background-color: var(--color-calendar-graph-day-bg);
  border-radius: 2px;
  outline: 1px solid var(--color-calendar-graph-day-border);
  outline-offset: -1px;
  cursor: pointer;
  user-select: none;
}

#github-contrib td a {
  display: block;
  width: 100%;
  font-size: 10px;
}

#github-contrib tfoot tr td {
  padding-top: 10px;
}

#github-contrib tfoot, #github-contrib  a.muted {
  color: var(--fgColor-muted);
  text-decoration: none;
  font-size: 12px;
}

#github-contrib tfoot a.muted:hover {
  color: var(--fgColor-accent);
}

#github-contrib .legend span {
  display: block;
}

#github-contrib .legend .grid {
  width: 12px;
  height: 12px;
}

#github-contrib .legend .grid, #github-contrib .legend span {
  float: left;
  margin-right: 5px;
}
